* {
    margin: 0;
    padding: 0;
}


header {
    overflow: hidden;
    background:red url(210.png) repeat-x;
    height: 200px;
    position: relative;
    border-bottom: 10px solid sienna;
}

#mario {
    height: 50px;
    width: 50px;
    position: absolute;
    background: url(mario-pixel-02_render.png) no-repeat;
    left: -50px;
    bottom: 0px;
    -webkit-animation: move-mario 15s linear;
}

#carapace {
    height: 30px;
    width: 30px;
    position: absolute;
    background: url(carapace_rouge.png) no-repeat;
    right: -30px;
    bottom: 0px;
    -webkit-animation: move-cara 5s linear;
}

#marron {
    width: 130px;
    height: 40px;
    position: absolute;
    background: url(cube_marron.jpg) no-repeat;
    left: 15%;
    top: 53%;
}

#jaune {
    width: 40px;
    height: 40px;
    position: absolute;
    background: url(cube_jaune.jpg)no-repeat;
    right: 60%;
    top: 47%;
    -webkit-animation:change 10s linear infinite;
    
}

#jaune2 {
    width: 40px;
    height: 40px;
    position: absolute;
    background: url(jaune_2.jpg);
    right: 60%;
    top: 47%;
    -webkit-animation : change2 20s linear infinite;
}

/*
    animation
*/

@-webkit-keyframes move-mario {
    0%  {top: 150px; left: -50px;}
    5%  {top: 150px; left: 140px;}
    10% {top: 55px ; left: 140px;}
    15% {top: 55px ; left: 310px;}
    20% {top: 150px; left: 410px;}
    22% {top: 130px; left: 450px;}
    24% {top: 150px; left: 470px;}
    100% {top: 150px; left: 1500px;}
}

@-webkit-keyframes move-cara{
    from {right: -30px}
    to {right: 2000px;}
}

@-webkit-keyframes change{
    0% opacity : 0;
    10% opacity 1;
}

@-webkit-keyframes change2{
    0% opacity : 1;
    10% opacity: 0;
}