* {
    margin: 0;
    padding: 0;
}


header {
    overflow: hidden;
    background:red url(210.png) repeat-x;
    height: 200px;
    position: relative;
    border-bottom: 10px solid sienna;
}

#mario {
    height: 50px;
    width: 50px;
    position: absolute;
    background: url(mario-pixel-02_render.png) no-repeat;
    left: -50px;
    bottom: 0px;
    -webkit-animation: move-mario 15s linear;
}

#carapace {
    height: 30px;
    width: 30px;
    position: absolute;
    background: url(carapace_rouge.png) no-repeat;
    right: -30px;
    bottom: 0px;
    -webkit-animation: move-cara 5s linear;
}

#marron {
    width: 130px;
    height: 40px;
    position: absolute;
    background: url(cube_marron.jpg) no-repeat;
    left: 180px;
    bottom: 55px;
}

#jaune {
    width: 40px;
    height: 40px;
    position: absolute;
    background: url(cube_jaune.jpg)no-repeat;
    left: 473px;
    bottom: 65px;
    -webkit-animation: change  linear ;
    
}

#jaune2 {
    width: 40px;
    height: 40px;
    position: absolute;
    background: url(jaune_2.jpg) no-repeat;
    right: 60%;
    top: 47%;
    -webkit-animation: change2 22s linear ;
}

#champi {
    width: 40px;
    height: 40px;
    position: absolute;
    background: url(001.png) no-repeat;
    right: 60%;
    top: 47%;
    -webkit-animation: champi 24s linear; 
}

/*
    animation
*/

@-webkit-keyframes move-mario {
    0%  {top: 150px; left: -50px;}
    5%  {top: 150px; left: 110px;}
    10% {top: 55px ; left: 140px;}
    15% {top: 55px ; left: 310px;}
    20% {top: 150px; left: 410px;}
    22% {top: 130px; left: 460px;}
    24% {top: 150px; left: 480px;}
    100% {top: 150px; left: 1500px;}
}

@-webkit-keyframes move-cara{
    from {right: -30px}
    to {right: 2000px;}
}

@-webkit-keyframes change{
    0%  {opacity : 1;}
    15% {opacity: 1;}
    16% {opacity: 0;}
    100% {opacity: 0;}
}

@-webkit-keyframes change2{
    0%  {opacity : 0;}
    15% {opacity : 0;}
    16% {opacity : 1;}
    100% {opacity: 1;}
}

@-webkit-keyframes champi{
    0%  {top: 90px ; left: 470px; opacity: 0;}
    14% {top: 90px ; left: 470px; opacity: 0;}
    15% {top: 50px ; left: 470px; opacity: 1;}
    20% {top: 150px; left: 570px;}
    21% {top: 150px; opacity: 1}
    23% {opacity: 0}
}