* {
    margin: 0;
    padding: 0;
}


header {
    overflow: hidden;
    background:red url(210.png) repeat-x;
    height: 200px;
    position: relative;
    border-bottom: 10px solid sienna;
}

#mario {
    height: 50px;
    width: 50px;
    position: absolute;
    background: url(mario_debout4.png) no-repeat;
    left: -50px;
    bottom: 0px;
    -webkit-animation: move-mario 15s linear;
}

#mario_saut {
    height: 50px;
    width: 50px;
    position: absolute;
    background: url(mario-pixel-02_render.png) no-repeat;
    left: -50px;
    bottom: 0px;
    -webkit-animation: mario_saut 15s linear;
}

#carapace {
    height: 30px;
    width: 30px;
    position: absolute;
    background: url(carapace_rouge.png) no-repeat;
    right: -30px;
    bottom: 0px;
    -webkit-animation: move-cara 5s linear;
}

#marron {
    width: 130px;
    height: 40px;
    position: absolute;
    background: url(cube_marron.jpg) no-repeat;
    left: 180px;
    bottom: 55px;
}

#jaune {
    width: 40px;
    height: 40px;
    position: absolute;
    background: url(cube_jaune.jpg)no-repeat;
    left: 473px;
    bottom: 65px;
    -webkit-animation: change  linear ;
    
}

#jaune2 {
    width: 40px;
    height: 40px;
    position: absolute;
    background: url(jaune_2.jpg) no-repeat;
    left: 473px;
    bottom: 65px;
    -webkit-animation: change2 22s linear ;
}

#champi {
    width: 40px;
    height: 40px;
    position: absolute;
    background: url(001.png) no-repeat;
    left: 473px;
    bottom: 65px;
    -webkit-animation: champi 24s linear; 
}

#fleur{
    width: 40px;
    height: 100px;
    position: absolute;
    background: url(fleur.png) no-repeat;
    bottom: -100px;
    right: 510px;
    -webkit-animation: move-fleur 3s 6s linear;
        
}

#tube {
    width: 40px;
    height: 40px;
    position: absolute;
    background: url(tube.png) no-repeat;
    bottom: 0px;
    right: 510px;  
}

#bowser{
    width: 60px;
    height: 60px;
    position: absolute;
    background: url(Bowser.png) no-repeat;
    bottom: 0px;
    right: -60px;
    -webkit-animation: 
        shimmy-shimmy-shake 0.5s 6s infinite alternate,
        move-bowser 4s 6s linear;
    
}
/*
    animation
*/

@-webkit-keyframes move-mario {
    0%   {top: 150px; left: -50px; opacity: 1}
    5%   {top: 150px; left: 110px; opacity: 1}
    5.5% {top: 150px; left: 110px; opacity: 0}
    10%  {top: 55px ; left: 140px; opacity: 0}
    10.5%{top: 55px ; left: 140px; opacity: 1}
    15%  {top: 55px ; left: 310px; opacity: 1}
    15.5%{top: 55px ; left: 310px; opacity: 0}
    20%  {top: 150px; left: 410px; opacity: 0}
    22%  {top: 130px; left: 460px; opacity: 0}
    24%  {top: 150px; left: 480px; opacity: 0}
    24.5%{top: 150px; left: 480px; opacity: 1; height: 50px;}
    29%  {top: 150px; left: 550px; opacity: 1; height: 50px;}
    30%  {top: 130px; left: 550px; opacity: 1; height: 70px;}
    40%  {top: 130px; left: 645px; opacity: 1; height: 70PX;}
    40.5%{top: 130px; left: 645px; opacity: 0; height: 70px;}
    45%  {top: 90px ; left: 700px; opacity: 0; height: 70px;}
    45.5%{top: 90px ; left: 700px; opacity: 0; height: 50px;}
    50%  {top: 150px; left: 800px; opacity: 0; height: 50px;}
    50.5%{top: 150px; left: 800px; opacity: 1;}
    60%  {top: 150px; left: 1000px; opacity: 1;}
    65%  {top: 150px; left: 950px; opacity: 1;}
    70%  {top: 150px; left: 1000px; opacity: 1}
    75%  {top: 150px; left: 950px; opacity: 1}
    80%  {top: 150px; left: 1100px; opacity: 1}
    80.5%{top: 150px; left: 1100px; opacity: 0}
    85%  {top: 100px; left: 1150px; opacity: 0}
    85.5%{top: 100px; left: 1150px; opacity: 1}
    90%  {top: 50px ; left: 1150px; opacity: 1}
    100% {top: 2000px; left: 1150px; opacity: 1;}
}

@-webkit-keyframes mario_saut{
    0%   {top: 150px; left: -50px; opacity: 0}
    5%   {top: 150px; left: 110px; opacity: 0}
    5.5% {top: 150px; left: 110px; opacity: 1}
    10%  {top: 55px ; left: 140px; opacity: 1}
    10.5%{top: 55px ; left: 140px; opacity: 0}
    15%  {top: 55px ; left: 310px; opacity: 0}
    15.5%{top: 55px ; left: 310px; opacity: 1}
    20%  {top: 150px; left: 410px; opacity: 1}
    22%  {top: 130px; left: 460px; opacity: 1}
    24%  {top: 150px; left: 480px; opacity: 1}
    24.5%{top: 150px; left: 480px; opacity: 0}
    29%  {top: 150px; left: 550px; opacity: 0; height: 50px;}
    30%  {top: 130px; left: 550px; opacity: 0; height: 70px;}
    40%  {top: 130px; left: 645px; opacity: 0; height: 70PX;}
    40.5%{top: 130px; left: 645px; opacity: 1; height: 70px;}
    45%  {top: 90px ; left: 700px; opacity: 1; height: 70px;}
    45.5%{top: 90px ; left: 700px; opacity: 1; height: 50px;}
    50%  {top: 150px; left: 800px; opacity: 1; height: 50px;}
    50.5%{top: 150px; left: 800px; opacity: 0;}
    60%  {top: 150px; left: 900px; opacity: 0;}
    65%  {top: 150px; left: 950px; opacity: 0;}
    70%  {top: 150px; left: 1000px; opacity: 0;}
    75%  {top: 150px; left: 950px; opacity: 0;}
    80%  {top: 150px; left: 1100px; opacity: 0;}
    80.5%{top: 150px; left: 1100px; opacity: 1;}
    85%  {top: 100px; left: 1150px; opacity: 1;}
    85.5%{top: 100px; left: 1150px; opacity: 0;}
    90%  {top: 50px ; left: 1150px; opacity: 0;}
    100% {top: 2000px; left: 1150px; opacity: 0;}
}

@-webkit-keyframes move-cara{
    from {right: -30px}
    to {right: 2000px;}
}

@-webkit-keyframes change{
    0%   {opacity : 1;}
    15%  {opacity: 1;}
    16%  {opacity: 0;}
    100% {opacity: 0;}
}

@-webkit-keyframes change2{
    0%   {opacity : 0;}
    15%  {opacity : 0;}
    16%  {opacity : 1;}
    100% {opacity: 1;}
}

@-webkit-keyframes champi{
    0%   {top: 90px ; left: 470px; opacity: 0;}
    14%  {top: 90px ; left: 470px; opacity: 0;}
    15%  {top: 50px ; left: 470px; opacity: 1;}
    19%  {top: 150px; left: 570px;}
    20%  {top: 150px; opacity: 1}
    20.5%{opacity: 0}
    100% {top: 150px;left: 1500px;  opacity: 0;}
}

@-webkit-keyframes move-fleur{
    0%   {bottom: -100px;}
    50%  {bottom: 40px;}
    100% {bottom: -100px;}
}

@-webkit-keyframes move-bowser{
   from {right: -60px}
    to {right: 50px;}
}

@-webkit-keyframes shimmy-shimmy-shake {
	from { right: 50px; }
    to   { right: 60px; }
}